@mixin flexContainer($mainAxisAlign:center,$crossAxisAlign:center,$direction:row,$wrap:nowrap){
  display: flex;
  justify-content: $mainAxisAlign;
  align-items: $crossAxisAlign;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin font($size,$weight,$color:$black) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin transition($property,$duration,$easing:ease-out,$delay:0) {
  -webkit-transition-property: $property;
  -webkit-transition-duration: $duration;
  -webkit-transition-timing-function: $easing;
  -webkit-transition-delay: $delay;

  -khtml-transition-property: $property;
  -khtml-transition-duration: $duration;
  -khtml-transition-timing-function: $easing;
  -khtml-transition-delay: $delay;

  -moz-transition-property: $property;
  -moz-transition-duration: $duration;
  -moz-transition-timing-function: $easing;
  -moz-transition-delay: $delay;

  -ms-transition-property: $property;
  -ms-transition-duration: $duration;
  -ms-transition-timing-function: $easing;
  -ms-transition-delay: $delay;

  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $easing;
  transition-delay: $delay;
}