// paths
$imgPath: "../assets/img";

// colors
$white: #FFFFFF;
$darkWhite: #e5e4e9;
$lightGrey: #a3a2a2;
$grey: #5e5e5e;
$black: #221e1f;
$primary: #A66885;
$primaryDark: #734359;
$primaryLight: #F2C1AE;
$secondary: #E1F25C
