// paths
$imgPath: "../assets/img";

// colors
$white: #FFFFFF;
$darkWhite: #e5e4e9;
$lightGrey: #c0bcbc;
$grey: #8f8f8f;
$black: #221e1f;
$primary: #A66885;
$primaryDark: #734359;
$primaryLight: #F2C1AE;
