.loader{
  @include flexContainer();
  width: 100%;
  height: 30px;
  z-index: 12;
  opacity: 0;
  visibility: hidden;
  margin: 10px 0;
  @include transition(opacity, 0.25s);
  &.active{
    opacity: 1;
    visibility: visible;
  }
  > div{
    &:first-of-type{
      border: 2px solid $primary;
      border-top: 2px solid $white;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      animation: loader-animation 0.8s linear infinite;
      margin-right: 10px;
    }
    &:last-of-type{
      margin-top: 8px;
      @include font(1rem, 500, $primary);
    }
  }
  @media only screen and (min-width: 768px) {
    top: 120px;
    margin: 15px 0;
  }
}

@keyframes loader-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}